
header {
    box-shadow: 0px 11px 15px 1px black;
}

.logo {
    height: 67px;
    margin-left: 13px;
}

header > ul {
    position: absolute;
    top: 0;
    right: 30px;
    list-style: none;
}

header > ul > li {
    list-style: none;
    display: inline;
    font-size: 36px;
    margin: 10px;
}

header > ul > li:hover {
    color: red;
    cursor: pointer;
}

main {
    display: block;
    position: relative;
    width: 99vw;
    box-sizing: border-box;
    padding-bottom: 1px;
}

main > nav {
    position: absolute;
    background-color: pink;
    width: 20%;
    top: 0;
    left: 0;
    bottom: 0;
}

section > section > div {
    margin-top: 15px;
    display: inline;
}

.image01 {
    margin-top: 25px;
    height: 305px;
    display: inline;
}

.image02 {
    margin-top: 25px;
    height: 307px;
    display: inline;
}

.image03 {
    margin-top: 25px;
    height: 307px;
    display: inline;
}

section > section {
    margin-left: 19vw;
}

main > section > div {
    margin-left: 20vw;
}

main > nav > ul {
    position: absolute;
    top: 0;
    left: 30px;
    list-style: none;
    margin-top: 20px;
}

main > nav > ul > li {
    margin-top: 20px;
}

main > nav > ul > li:hover {
    font-size: 30px;
    color: red;
    cursor: pointer;
}

main > section > section {
    margin-left: 20.3vw;
}

footer {
    background-color: black;
    position: relative;
    bottom: 0;
    height: 34px;
    box-sizing: border-box;
    margin: auto;
}

footer > p {
    color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 13rem;
    height: 1rem;
}

@media all and (max-width: 320px) {
    header {
        height: 17vh;
    }

    header ul {
        margin-top:12vh;
        padding-left: 0;
    }
    .logo {
        margin-left: 37vw;
    }

    header ul > li {
        margin: 1vw;
        font-size: 15px;
        margin-left: 4vw;
    }
    main > nav {
        display: none;
    }
    main section > section {
        margin-left: 0vw;
        display: flex;
        flex-direction: column;
    }
    .image01 {
        width: 100vw;
        margin: 0px;
        margin-bottom: -2vh;
    }

    .image02 {
        width: 100vw;
        margin: 0px;
        margin-bottom: -2vh;
    }

    .image03 {
        width: 100vw;
        margin: 0px;
        margin-bottom: -2vh;
    }
    main section div {
        margin-left: 0px;
    }
}

@media all and (min-width: 321px) and (max-width: 376px){
    header {
        height: 17vh;
    }

    header ul {
        margin-top:12vh;
        right: 45px;
        padding-left: 0;
    }
    .logo {
        margin-left: 37vw;
    }

    header ul > li {
        margin: 1vw;
        font-size: 15px;
        margin-left: 4vw;
    }
    main > nav {
        display: none;
    }
    main section > section {
        margin-left: 0vw;
        display: flex;
        flex-direction: column;
    }
    .image01 {
        width: 100vw;
        margin: 0px;
        margin-bottom: -2vh;
    }

    .image02 {
        width: 100vw;
        margin: 0px;
        margin-bottom: -2vh;
    }

    .image03 {
        width: 100vw;
        margin: 0px;
        margin-bottom: -2vh;
    }

    main section div {
        margin-left: 0px;
    }
}