.first{
    background-color: red;
}
.second{
    background-color: green;
}
.third{
    background-color: blue;
}
.fourth{
    background-color: yellow;
}
.fifth{
    background-color: #e3b499;
}
.sixth{
    background-color: deeppink;
}
